
{% extends 'base.html.twig' %}

{% block title %}Liste des types{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <table>
        <thead>
        <tr>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
               <td><a href="{{ path('type_show', { id: type.id }) }}">{{ type.type }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}